body {
  display: flex;
  justify-content: center;
  align-content: center;
    background-color: lightblue;
  }
.nav-item{
  list-style-type: none; 
  padding: 0.2rem; 
  margin: 0.2rem; 
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.images{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  }
  .article{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    margin: 3rem;
    text-align: justify;
  }

.foot{
    background-color: grey;
}
